body {
    color: #000000;
    font-family: tahoma,sans-serif;
    font-size: 62.5%;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

div.summary, div.col, h3 {
    background-color: #048fc2;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    box-shadow: 1px 1px 3px #dddddd;
    margin-bottom: 10px;
    padding: 5px;
    width: 440px;
}

html,body,div,span,applet,object,iframe,embed,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    border:0;
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}:focus{
    outline:0;
    -moz-outline-style:none;
}
ol,ul{
    list-style:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
    height: 100%;
}
caption,th,td{
    padding: 5px;
}
caption,th{
    padding: 5px;
    font-weight:normal;
}
blockquote:before,blockquote:after,q:before,q:after{
    content:"";
}
blockquote,q{
    quotes:"" "";
}

strong,strong a { 
    font-weight:bold!important;
}

img{
    border:none;
}

*{
    padding:0;
    margin:0;
}

body{
    font-family:tahoma,sans-serif;
    font-size: 71%;
    line-height:1.3;
    margin:0;
    padding:0;
    color:#000;
}

a:link,a:visited,a:active,a:hover{
    color:#048fc2;
    text-decoration:none;
}

a:hover{
    color:#005e7b;
    text-decoration:underline;
}
a.inline,strong.inline{
    display:inline!important;
    float:none!important;
}

em{
    font-style:normal;
}

h2{
    border-bottom:solid 2px #444;
    color:#333;
    font-weight:bold;
    padding-bottom:5px;
}

input,textarea,select {
    font-family:tahoma,sans-serif;font-size:11px
}

script {
    display:none!important;
}

.red {
    color:#c00!important;
}

body.center .container {
    background-color:#fff;
    border:1px solid #ccc;
    border-width:0 1px 1px;
    box-shadow:0 0 4px rgba(50,50,50,0.2);
    float:none;
    margin:0 auto;
    position:relative;
    -moz-box-shadow:0 0 4px rgba(50,50,50,0.2);
    -webkit-box-shadow:0 0 4px rgba(50,50,50,0.2);
    z-index:0;
}

input.alert,textarea.alert,select.alert {
    border: 1px solid #ff0000;
}
body.center .container::after{
    clear:both;
    content:"";
    display:block;
    float:none;
    height:0;
    visibility:hidden;
}

body.center {
    background-image:none;
}

div.container,div.container *{
    font-size:11px;
    margin:0;
    padding:0;
}

div.container{
    padding:0 0 0 0;
}
div.container-border{
    border: 1px solid #048FC2;
}

div.demo{
    background:#363636 url("/images/demo-background.gif") repeat-x 0 0;
    height:50px;
    font-size:11px;
    padding-left:170px;
    text-align:center;
    width:834px;
}

div.demo p{
    color:#ccc;
    font:bold 14px arial,sans-serif;
    margin:17px 0 0;
}

div.demo a:link,div.demo a:visited,div.demo a:active,div.demo a:hover{
    background:transparent url("/images/buy.png") no-repeat 0 0;
    height:37px;
    margin:8px 0 0 5px;
    width:154px;
}
div.head h1{height:50px;left:910px;position:absolute;width:50px;text-indent:-1000em;margin-top:2px;}
div.head h2,div.head h2 a:link,div.head h2 a:visited,div.head h2 a:active,div.head h2 a:hover{
    border-bottom-width:0;
    color:#fff;
    font-weight: bold;
    padding-left:2px;
}

div.head ul.user {
    float:right;
    margin-right:60px;
}
div.head ul.user li {
    margin:0 0 0 10px;
    padding-right:10px;
    float:left;
}

div.head ul.user li a:link,div.head ul.user li a:visited,div.head ul.user li a:active,div.head ul.user li a:hover {
    color:#7cd2ea;
    float:left;
}

div.head ul.user li a.help:link, div.head ul.user li a.help:visited,div.head ul.user li a.help:active,div.head ul.user li a.help:hover {
    color: #ffffff;
    float: right;
    font-weight: bold;
}

div.head ul.user li a.notification:link, div.head ul.user li a.notification:visited,div.head ul.user li a.notification:active,div.head ul.user li a.notification:hover {
    background-image: url('../images/info.png');
    color: #ffffff;
    float: right;
    font-weight: bold;
    height: 16px;
    width: 16px;
}

div.head{
    width:100%;
    background-color:#048fc2;
    padding-top:10px;
}

div.head h2 div.factory {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
div.tab-navigation{
    padding:0 0 100px 0;
    width:970px;
}

div.head h1{
    background-image: url("../images/logo-small.png");
    background-position:0 0;
}


div.head h2 a:hover{text-decoration:underline;}
div.head h2 div a:hover{text-decoration:underline;}

div.head h2{
    float: left;
    margin-bottom:10px;
    overflow:hidden;
    box-shadow:0px;
    padding-left:20px;
}
div.get-started-title h2{
    font:bold 14px arial,sans-serif;
    color:#fff;
    float: left;
    margin:0;
    padding:0;
    border-width:0!important;
    width:auto!important;
}
div.get-started-title h4 {
    border-width: 0 !important;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: auto !important;
}

ul.group{
    background:transparent url('../images/tab/tab.png') repeat-x left bottom;
    margin-top: 5px;
    height:24px;
    padding-left: 36px;
}
ul.group li{
    border:solid 1px #d9d9d9;
    background:#fff;
    float: left;
    padding: 4px 15px;
    text-align: center;
    margin-left: 5px;
}
ul.group li.selected{
    border:solid 1px #d9d9d9;
    border-bottom-color:#fff;
    background:#fff;
    padding: 4px 15px;
}

ul.group li.selected a {
    color: #333333;
    font-weight: bold;
}

div.green-container{
    width:970px;
    margin-bottom:20px;
}
div.green-container div.get-started-title {
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    width: 945px;
}
div.green-container div.notify {
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}
div.green-container div.shadow {
    margin-bottom:0;
}
div.get-started {
    width: 938px;
}
div.get-started div.message {
    width: 930px;
}

div.action-bar div.button, div.button {
    background: url("../images/gradients.png") no-repeat scroll 0 -120px transparent;
    border-width: 0 !important;
    float: left;
    height: 28px;
    margin-right: 15px;
    padding-left: 7px;
}
div.action-bar div.thin {
    height: 26px;
    background-position: 0 -150px;
}

.red {
    color: #cc0000 !important;
}

div.page-head {
    background: url("../images/page-head-bg.png") repeat-x scroll 0 0 transparent;
    height: 45px;
    padding-top:10px;
    width: 100%;
}

div.page-head span.page{
    color: #515151;
    float: left;
    font: bold 20px arial,sans-serif;
    padding-left:20px;
}

div.buttons {
    margin-left: 41px;
}
div.button {
    background: url("../images/gradients.png") no-repeat scroll 0 -120px transparent;
    border-width: 0 !important;
    height: 28px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 7px;
}

div.button a {
    background: url("../images/gradients.png") no-repeat scroll 100% -298px transparent;
    border-width: 0 !important;
    color: #048fc2;
    float: left;
    font: bold 11px tahoma,sans-serif;
    white-space: nowrap;
    cursor: pointer;
    height: 23px;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 7px;
}

div.button a em {
    background: url("../images/icons.png") no-repeat scroll -92px -265px transparent;
    float: left;
    height: 13px;
    margin: 1px 2px 0 0;
    overflow: hidden;
    width: 13px;
}

div.bundle_setting,div.button_edit, div.button_save,div.button_up, div.button_down, div.button_delete, div.button_pdelete, div.button_dequeue,div.button_splice,div.button_tags, div.button_calculator, div.button_accept {
    height: 19px;
    float: right;
}

div.button_add_lock {
    height: 16px;
    float: right;
}
div.button_save a em {
    background: url("../images/icons.png") no-repeat scroll -66px -51px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}

div.button_save a em:hover {
    background: url("../images/icons.png") no-repeat scroll -67px -52px transparent;
    height: 17px;
    overflow: hidden;
    float: right;
}

div.button_accept a em {
    background: url("../images/icons.png") no-repeat scroll -386px -155px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}

div.button_accept a em:hover {
    background: url("../images/icons.png") no-repeat scroll -387px -156px #D7E7FF;
    height: 17px;
    overflow: hidden;
    float: right;
}

div.button_edit a em {
    background: url("../images/icons.png") no-repeat scroll -385px -25px transparent;
    border: 1px solid #7cd2ea;
    border-radius: 5px 5px 5px 5px;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.button_pdelete a em {
    background: url("../images/icons.png") no-repeat scroll -433px -363px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.button_dequeue a em {
    background: url("../images/icons.png") no-repeat scroll -403px -287px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.bundle_setting a em {
    background: url("../images/icons.png") no-repeat scroll -19px -103px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
a.extra_fabric_and_piping_setting em {
    background: url("../images/icons.png") no-repeat scroll -19px -103px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 5px;

}
div.button_splice a em {
    background: url("../images/icons.png") no-repeat scroll -83px -260px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.button_up a em {
    background: url("../images/icons.png") no-repeat scroll -315px -260px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.button_down a em {
    background: url("../images/icons.png") no-repeat scroll -272px -260px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.button_tags a em {
    background: url("../images/icons.png") no-repeat scroll -85px -28px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.button_tags a em:hover {
    background: url("../images/icons.png") no-repeat scroll -109px -26px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
}
div.button_calculator a em {
    background: url("../images/icons.png") no-repeat scroll -433px -183px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.button_print a em {
    background: url("../images/icons.png") no-repeat scroll -65px -156px transparent;
    border: 1px solid #7CD2EA;
    float: right;
    height: 17px;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
    width: 20px;
}
div.button_completed_print a em {
    background: url("../images/icons.png") no-repeat scroll -111px -417px transparent;
    border: 1px solid #7CD2EA;
    float: right;
    height: 17px;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
    width: 20px;
}
div.button_completed_print a em:hover {
    background: url("../images/icons.png") no-repeat scroll -112px -418px transparent;
    border: 1px solid #7CD2EA;
    height: 17px;
    overflow: hidden;
    width: 20px;
}
div.button_excel_print a em {
    background: url("../images/icons.png") no-repeat scroll -158px -52px transparent;
    border: 1px solid #7CD2EA;
    float: right;
    height: 17px;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
    width: 20px;
}
div.button_excel_print a em:hover {
    background: url("../images/icons.png") no-repeat scroll -158px -52px transparent;
    border: 1px solid #7CD2EA;
    height: 17px;
    overflow: hidden;
    width: 20px;
}
div.button_add a em {
    background: url("../images/icons/16x16/add.png") no-repeat; 
    border: 1px solid #7CD2EA;
    float: right;
    height: 17px;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
    width: 20px;
}

div.button_pdelete a em:hover {
    background: url("../images/icons.png") no-repeat scroll -434px -364px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
}

div.button_dequeue a em:hover {
    background: url("../images/icons.png") no-repeat scroll -433px -287px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
}

div.button_splice a em:hover {
    background: url("../images/icons.png") no-repeat scroll -113px -260px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
}
div.button_up a em:hover {
    background: url("../images/icons.png") no-repeat scroll -335px -260px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
}
div.button_down a em:hover {
    background: url("../images/icons.png") no-repeat scroll -292px -260px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
}
div.button_calculator a em:hover {
    background: url("../images/icons.png") no-repeat scroll -433px -183px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
}
div.button_print a em:hover {
    background: url("../images/icons.png") no-repeat scroll -66px -157px transparent;
    border: 1px solid #7CD2EA;
    height: 17px;
    overflow: hidden;
    width: 20px;
}

div.button_edit a em:hover {
    background: url("../images/icons.png") no-repeat scroll -386px -25px transparent;
    border: 1px solid #ffffff;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
}
div.button_delete a em {
    background: url("../images/icons.png") no-repeat scroll -17px -260px transparent;
    border: 1px solid #7CD2EA;
    border-radius: 5px 5px 5px 5px;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.button_delete a em:hover {
    background: url("../images/icons.png") no-repeat scroll -18px -260px transparent;
    border: 1px solid #ffffff;
    border-radius: 5px 5px 5px 5px;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
}

div.button_add_lock a em {
    background: url("../images/icons/lock_add.png") no-repeat transparent;
    height: 16px;
    overflow: hidden;
    width: 16px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.button_add_lock a em:hover {
    background: url("../images/icons/lock_add.png") no-repeat transparent;
    height: 16px;
    overflow: hidden;
    width: 16px;
    float: right;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 0px;
}

div.button_edit_grid a{
    background: url("../images/icons.png") no-repeat scroll -292px -440px transparent;
}
div.button_edit_grid a:hover{
    background: url("../images/icons.png") no-repeat scroll -338px -440px transparent;
}

div.button_edit_grid a em {
    background: url("../images/icons.png") no-repeat scroll -360px -25px transparent;
    border: 1px solid #7cd2ea;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
div.button_edit_grid a em:hover {
    background: url("../images/icons.png") no-repeat scroll -362px -25px transparent;
    border: 1px solid #ffffff;
    height: 17px;
    overflow: hidden;
    width: 20px;
    float: right;
}

button.excel_button{
    background: url("../images/excel-icon.png") no-repeat scroll;
    border-width: 0 !important;
    height: 32px;
    float: left;
    margin-bottom: 5px;
    margin-right: 0px;
    padding-left: 32px;
    margin-left: 12px;
}

button.pdf_button{
    background: url("../images/pdf-icon.png") no-repeat scroll;
    border-width: 0 !important;
    height: 32px;
    float: left;
    margin-bottom: 5px;
    margin-right: 0px;
    padding-left: 32px;
    margin-left: 12px;
}

div.blue_button {
    background: url("../images/gradients.png") no-repeat scroll 0 -30px transparent;
    border-width: 0 !important;
    height: 30px;
    float: left;
    margin-bottom: 5px;
    margin-right: 0px;
    padding-left: 7px;
}

div.blue_button a {
    background: url("../images/gradients.png") no-repeat scroll 100% -208px transparent;
    border-width: 0 !important;
    color: #ffffff;
    float: left;
    font: bold 11px tahoma,sans-serif;
    white-space: nowrap;
    cursor: pointer;
    height: 23px;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 5px;
    z-index:100;
}

div.blue_button a em.search {
    background: url("../images/icons/search_white.png") no-repeat;
    float: left;
    height: 13px;
    margin: 1px 2px 0 0;
    overflow: hidden;
    width: 13px;
}

em.back {
    background: url("../images/icons/back.png") no-repeat transparent;
    padding: 2px 20px 4px 4px;
}

div.search {
    background-color: #e8f1ff;
    border: 1px solid #c1c1c1;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    box-shadow: 1px 1px 3px #dddddd;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    background: rgb(224,236,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(224,236,255,1) 0%, rgba(239,245,255,1) 40%, rgba(221,235,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,236,255,1)), color-stop(40%,rgba(239,245,255,1)), color-stop(100%,rgba(221,235,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(224,236,255,1) 0%,rgba(239,245,255,1) 40%,rgba(221,235,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(224,236,255,1) 0%,rgba(239,245,255,1) 40%,rgba(221,235,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(224,236,255,1) 0%,rgba(239,245,255,1) 40%,rgba(221,235,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(224,236,255,1) 0%,rgba(239,245,255,1) 40%,rgba(221,235,255,1) 100%); /* W3C */
    border-radius: 5px 5px 5px 5px;
}

div.search div{
    display: block;
}

div.search div input{
    width: 121px;
}
input, textarea, select { 
    border: 1px solid #7f9db9;
    font-family: tahoma,sans-serif;
}
select { 
    height: 19px;
}
input, select { 
    width: 100%;
}

div.yellow-container{
    margin-bottom:10px;
}
div.yellow-container div.get-started-title {
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    background-color: #FFF0A5;
    padding: 3px;
    background: rgb(254,210,47); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,210,47,1) 0%, rgba(255,233,135,1) 40%, rgba(254,210,47,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,210,47,1)), color-stop(40%,rgba(255,233,135,1)), color-stop(100%,rgba(254,210,47,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,210,47,1) 0%,rgba(255,233,135,1) 40%,rgba(254,210,47,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,210,47,1) 0%,rgba(255,233,135,1) 40%,rgba(254,210,47,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,210,47,1) 0%,rgba(255,233,135,1) 40%,rgba(254,210,47,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,210,47,1) 0%,rgba(255,233,135,1) 40%,rgba(254,210,47,1) 100%); /* W3C */
    border: 2px solid #FED22F;
    border-radius:5px 5px 0 0;
}


div.yellow-container div.get-started-title h2{
    color: #333;
}
div.yellow-container div.get-started-title h2 a{
    color: #333;
    float: right;
    font-weight: normal;
}

div.blue-container{
    margin-bottom:10px;
}
div.blue-container div.get-started-title {
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    background-color: #0FA3DB;
    padding: 3px;
    background: rgb(4,143,194); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(4,143,194,1) 0%, rgba(15,163,219,1) 40%, rgba(4,143,194,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,143,194,1)), color-stop(40%,rgba(15,163,219,1)), color-stop(100%,rgba(4,143,194,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(4,143,194,1) 0%,rgba(15,163,219,1) 40%,rgba(4,143,194,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(4,143,194,1) 0%,rgba(15,163,219,1) 40%,rgba(4,143,194,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(4,143,194,1) 0%,rgba(15,163,219,1) 40%,rgba(4,143,194,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(4,143,194,1) 0%,rgba(15,163,219,1) 40%,rgba(4,143,194,1) 100%); /* W3C */
    border: 2px solid #048FC2;
    border-radius:5px 5px 0 0;
}


div.blue-container div.get-started-title div a{
    color: #fff;
    float: right;
    font-weight: normal;
    padding-right:10px;
    padding-top:2px;
    text-decoration: underline;
}
div.blue-container div.notify {
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}
div.blue-container div.shadow {
    margin-bottom:0;
}
div.head h1 {
    left:auto;
}
div.box {
    border: 1px solid #c1c1c1;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 1px 3px #ddd;
    padding: 10px;
}

div.box div.detail {
    border-top: 1px solid #cccccc;
    float: left;
    margin-right: 20px;
    padding-bottom: 5px;
    width: 330px;
}

div.box div.detail span {
    color: #666666;
    display: block;
    float: left;
    line-height: 20px;
    width: 90px;
}
div.box div.detail span input {
    width: 125px;
}
div.box div.detail span.black {
    color: #000000;
    display: block;
    float: left;
    line-height: 25px;
    width: 100px;
}

div.box div.detail span.link {
    color: #999;
    display: block;
    float: left;
    font-size: .9em;
    line-height: 25px;
    width: 90px;
}

div.box div.detail span.box {
    color: #000000;
    display: block;
    float: left;
    line-height: 25px;
    width: 130px;
}

div.box div.detail strong {
    line-height: 25px;
}

table.grid {
    border: 1px solid #DDDDDD;
    width: 100%;
}

table.grid thead, table.grid tbody {
    float:none;
}

table.grid tr {
    display: table-row;
    float:none;
}

table.grid thead tr td {
    background-color: #f2f6ff;
    border-bottom: 1px solid #b7c0c7;
    color: #5a5b61;
    float:none;
    font-weight: bold;
}
table.grid tr td.bold {
    background-color: #f2f6ff;
    color: #5a5b61;
    float:none;
    font-weight: bold;
}
table.grid thead tr td.selected {
    background-color: #d9ebf9;
    border-bottom: 1px solid #b7c0c7;
    color: #048fc2;
    float:none;
    font-weight: bold;
}
table.grid tr td{
    border-top: 1px solid #b7c0c7;
    float:none;
    padding: 5px;
    vertical-align: middle;
}
table.grid tr td.head{
    background-color: #f2f6ff;
    border-bottom: 1px solid #b7c0c7;
    color: #048fc2;
    vertical-align: middle;
}
table.grid tr.selected{
    background-color: #f2f6ff;
    border-bottom: 1px solid #dddddd;
    float:none;
    padding: 5px;
    vertical-align: middle;
}
table.grid tr.highlight{
    background-color: #ecffbb;
    border-bottom: 1px solid #dddddd;
    float:none;
    padding: 5px;
    vertical-align: middle;
}
div.pager{
    padding: 10px;
    background-color: #f2f6ff;
    border-bottom: 1px solid #dddddd;
    float:none;
    vertical-align: middle;
}

ul.tabpanel{
    width:100%;
    background:transparent url('../images/tab/tab.png') repeat-x left bottom;
}
ul.tabpanel li{
    border:solid 1px #d9d9d9;
    background:#F2F6FF;
    padding: 4px 17px;
    float: left;
    text-align: center;
    margin-right: 5px;
}
ul.tabpanel li.buttons{
    float: right;
    border:none;
    background: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
ul.tabpanel li.selected{
    border:solid 1px #d9d9d9;
    border-bottom-color:#fff;
    background:#fff;
    float: left;
}

ul.tabpanel li.selected a {
    color: #333333;
    font-weight: bold;
}
div.tabbox {
    border: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 1px 3px #ddd;
    margin-top: -1px;
    width: 100%;
}

div.tabbox div.detail {
    border-top: 1px solid #ccc;
    margin-right: 50px;
    padding-bottom: 5px;
    width: 290px;
}

div.tabbox div.detail span {
    color: #666666;
    display: block;
    float: none;
}

div.main_div {
    margin: auto;
    background-color: #fff;
}

body {
    background-color: #eee;
}

div.popup-header {
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    width: auto;
}
div.popup-header div.get-started-title{
    width: auto;
}
div.popup-container {
    background-color: #fff;
    border-left: 3px solid #048fc2;
    border-right: 3px solid #048fc2;
    border-bottom: 3px solid #048fc2;
    font-size: 11px;
    padding: 10px 10px;
}


div.blue_button_med {
    background:url("../images/button/blue-med.png");
    width: 99px;
    height: 23px;
    padding-top: 5px;
    text-align: center;
}
div.blue_button_med a {
    border-width: 0 !important;
    color: #ffffff;
    font: bold 11px tahoma,sans-serif;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 7px;
    z-index:100;
}

div.blue_button input[type="submit"], div.blue_button_med input[type="submit"] {
    border-width: 0 !important;
    color: #ffffff;
    font: bold 11px tahoma,sans-serif;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    background: transparent;
    z-index:100;
}


input.silver_button_med {
    background:url("../images/button/silver-med.png");
    border-width: 0px;
    color: #048fc2;
    cursor: pointer;
    font: bold 11px tahoma,sans-serif;
    width: 99px;
    height: 26px;
    text-align: center;
}
input.silver_button_med:hover {
    background:url("../images/button/silver-med.png");
    color: #048fc2;
    border: 1px solid #048fc2;
    border-radius: 5px;
    cursor: pointer;
    font: bold 11px tahoma,sans-serif;
    width: 99px;
    height: 26px;
    text-align: center;
}

input.silver_button_big {
    background:url("../images/button/silver-big.png");
    border-width: 0px;
    color: #048fc2;
    cursor: pointer;
    font: bold 11px tahoma,sans-serif;
    width: 150px;
    height: 26px;
    text-align: center;
}
input.silver_button_big:hover {
    background:url("../images/button/silver-big.png");
    color: #048fc2;
    border: 1px solid #048fc2;
    border-radius: 5px;
    cursor: pointer;
    font: bold 11px tahoma,sans-serif;
    width: 150px;
    height: 26px;
    text-align: center;
}

input.silver_button_vbig {
    background:url("../images/button/silver-vbig.png");
    border-width: 0px;
    color: #048fc2;
    cursor: pointer;
    font: bold 11px tahoma,sans-serif;
    width: 180px;
    height: 26px;
    text-align: center;
}
input.silver_button_vbig:hover {
    background:url("../images/button/silver-vbig.png");
    color: #048fc2;
    border: 1px solid #048fc2;
    border-radius: 5px;
    cursor: pointer;
    font: bold 11px tahoma,sans-serif;
    width: 180px;
    height: 26px;
    text-align: center;
}
/* login form */
div.footer {
    background-color: #d7e7ff;
    border-bottom-width: 0;
    border-top: 1px solid #048fc2;
    margin-top: 0;
    padding: 0;
    width: 100%;
}

div.footer ul {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

div.login-form {
    margin: auto;
}

div.login-form div.label, div.login-form div.field {
    margin: 5px;

}
div.login-form h2{
    font-size:20px;
    margin-bottom:10px;
    overflow:hidden;
    box-shadow:0px;
    text-decoration: none;
    border: 0px;
    color: #333333;
    font-weight: bold;
}

div.error {
    color: #ff0000;
}

a.menu-block-link {
    background:url("../images/menu.png");
    margin-right: 8px;
    padding-left: 32px;
    padding-top: 4px;
    padding-bottom: 16px;
}
a.menu-block-link:hover {
}

.required-field {
    background-color: #ffa;
}

.error-field {
    border: 1px solid #f00;
}

.internal_heading {
    background-color: #F2F6FF;
    border-bottom: 1px solid #B7C0C7;
    color: #5A5B61;
    float: none;
    font-weight: bold;
    height: 10px;
    margin-bottom: 10px;
    padding: 5px;    
}

div.main-content-box {
    margin-bottom:10px;
}

div.grid-box {
}

a.link2 {
    text-decoration: underline;
}

ul.qq-upload-list, ul.qq-upload-list *{
    float: none;
}

span.color-show-circle {
    background: url("../../images/colorpicker/trigger.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    width: 20px;    
}

td.color-show-square, span.color-show-square {
    width: 10px;
    padding: 0px;
}

span.color-show-square, div.color-show-square {
    margin-right: 5px;
    display: inline-block;
    float: left;
    min-width: 10px;
}

/*table.grid, table.grid * {
    float:none;
}*/

table, tr, td, th, table *, tr *, td *, th *, div, div * {
    border-collapse:collapse;
}

th, td { padding: 0px; }

table { border-spacing: 0px; }

div.data-box {
    font-size: 11px;
    padding: 10px;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

input.disabled {
    background-color: #eee;
}

/* Override jquery */
.ui-dialog-titlebar {
    border-radius: 0px;
}

.ui-dialog {
    background: #fff;
    border: 10px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 0px;
}

.ui-dialog-titlebar {
    background: #fff;
}

.ui-dialog .ui-dialog-content {
    background: #fff;
}
.ui-widget-header {
    background: none;
    background-color: #048FC2;
}

.ui-widget-overlay {
    opacity: 0.6;
}

.ui-datepicker table {
    font-size: 0.8em;
}


.loading {
    background: url("../../images/loading/loading.gif") no-repeat scroll 0 0 transparent;
    height: 31px;
    margin: auto;
}

span.bold {
    font-weight: bold;
}

div.blue-container div.get-started-title a {
    color: #eaf2ff;
}
div.padding-top-10 {
    padding-top: 10px;
}
div.margin-left-10 {
    margin-left: 10px;
}

input[type="checkbox"] {
    vertical-align: -2px;
    width :16px !important;
}
input[type="radio"] {
    vertical-align: -2px;
    width :16px !important;
}
.placeholder {
    color: #333;
    font-size: 9px;
}

input.disable-button {
    background: url("../images/button/loading.gif") no-repeat scroll left center #EEEEEE;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    cursor: pointer;
    height: 26px;
    pointer-events: none;
    text-align: center;
}
input.disable-button:hover {
    background: url("../images/button/loading.gif") no-repeat scroll left center #EEEEEE;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    cursor: pointer;
    height: 26px;
    pointer-events: none;
    text-align: center;    
}
input.disable-button-without-progress{
    background: none;
    background-color: #eeeeee;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    cursor: pointer;
    height: 26px;
    pointer-events: none;
    text-align: center;
}
input.disable-button-without-progress:hover{
    background: none;
    background-color: #eeeeee;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    cursor: pointer;
    height: 26px;
    pointer-events: none;
    text-align: center;
}

td {
    vertical-align: middle;
}

ul.info{
    width: 99%;
}

ul.info li{
    width: 100%;
    border:solid 1px #d9d9d9;
    background:#fff;
    float: left;
    font-size: 13px;
    height: 20px;
}

ul.info li:hover {
    width: 100%;
    border:solid 1px #d9d9d9;
    background:#333;
}

div.dashboard-box {
  height: 95px;
  overflow: auto;
 /* margin-top: -10px; */
}

div.message {
    color: red; 
    float: right; 
    margin: 0px; 
    padding: 0px; 
    font-size: 15px;
}

span.system-added-marker {
    background: url("../../images/icons/system-marker.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 16px;
    width: 13px;
}
span.user-added-marker {
    background: url("../../images/icons/user-marker.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 16px;
    width: 13px;
}

span.preferred-marker {
    background: url("../../images/icons/pref-marker.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 16px;
    width: 13px;
}
/* admin related styles */


div.warning_message {
    background-color: #FFFFAA;
    border: 1px solid #C5C5C5;
    color : #555555;
    margin-bottom: 5px;
    padding: 2px;
}
/*
button {
    background: url("../images/gradients.png") no-repeat scroll 100% -208px transparent;
    border-width: 0 !important;
    color: #ffffff;
    font: bold 11px tahoma,sans-serif;
    white-space: nowrap;
    cursor: pointer;
    height: 28px;
    overflow: hidden;
}

button em {
    background: url("../images/icons/search_white.png") no-repeat;
    float: left;
    height: 13px;
    margin: 1px 2px 0 0;
    overflow: hidden;
    padding-right: 10px;
    width: 13px;    
}

button span.text {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 2px;
}
*/
input type[submit] {
    
}

span.locked {
    background: url("../images/icons/lock.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 16px;
    width: 16px;
}

ul.tabpanel li.locked {
    background: url("../images/icons/lock.png") no-repeat scroll right center transparent;
}

.line-height {
    line-height: 30px;
}

a.white-link:link,a.white-link:visited,a.white-link:active,a.white-link:hover{
    color:#fff;
    text-decoration:underline;
}

td.error {
    background-color: #FFFFAA;
    color: #ff0000;
}

ul.connectedSortable li.ui-state-default[lay_status="7"] {
    background-color: #ACFF49 !important;
}

ul.topnav {
    list-style: none;
    padding: 0 40px;
    margin: 0;
    font-size: 1.2em;
}
ul.topnav li {
    background-image: url("/images/gradients.png");
    background-position: 0 -356px;
    float: left;
    margin: 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li:hover {
    background-image: url("/images/gradients.png");
    background-position: 0 -393px;
    float: left;
    margin: 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li.odd {
    background-image: url("/images/gradients.png");
    background-position: 0 -426px;
    float:right;
    margin: 0;
    margin-right:40px;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li.odd:hover {
    background-image: url("/images/gradients.png");
    background-position: 0 -462px;
}
ul.topnav li a.selected{
    background-color: #ffffff;
    background-image: none;
    height: 15px;
    color: #048FC2;
    font-weight: bold;
    text-decoration: none;
}

ul.topnav li a{
    color: #FFFFFF;
    cursor: pointer;
    font: bold 11px Tahoma,sans-serif;
    height: 15px;
    padding: 10px 14px 10px 14px;
    text-decoration: none;
    float: left;
}

ul.topnav li ul.subnav {
    box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.2);
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 35px;
    background: #008cc1;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 180px;
    z-index: 1000;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	clear: both;
	width: 180px;
	background: #008cc1;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #008cc1;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url("/images/menu/dropdown_linkbg.gif") no-repeat 10px;
}

/* */
ul.menu-block-list {
    list-style: none;
    margin: 0;
    float: left;
    font-size: 1.2em;
}
ul.menu-block-list li {
    float: left;
    margin: 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}

ul.menu-block-list li ul.subnav {
    box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.2);
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 35px;
    background: #008cc1;
    display: none;
    margin: 0; padding: 0;
    margin-top: -5px;
    float: left;
    width: 180px;
    z-index: 1000;
}
ul.menu-block-list li ul.subnav li{
    background: #008cc1;
    clear: both;
    color: #fff;
    width: 180px;
}
html ul.menu-block-list li ul.subnav li a {
    padding: 10px 15px 10px 17px;
    color: #fff;
    float: left;
    width: 145px;
    background: #008cc1;
    padding-left: 20px;
    text-decoration: none;
}
ul.menu-block-list li ul.subnav li a em.logout{
    background: url("/images/logout.png") no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    padding-right: 5px;
}

ul.menu-block-list li ul.subnav li a em.dashboard{
    background: url("/images/dashboard.png") no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    padding-right: 5px;
}
ul.menu-block-list li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
    background: #222 url("/images/menu/dropdown_linkbg.gif") no-repeat 10px;
}

ul.topnav li a span{
    color:#ffffff;
    padding-left:10px
}
ul.topnav li a.selected span{
    color:#048FC2;
}/* Copyright 2010 Google Inc.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS.
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License
 */

.ac_results {
	padding: 0px;
	border: 1px solid #048FC2;
	background-color: #fff;
	overflow: hidden;
	z-index: 99999;
    box-shadow: 3px 3px 5px #7f9db9;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
    font-family: Tahoma,sans-serif !important;
    font-size: 11px !important;
    font-weight: normal;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 80%;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: #fff url('../images/loading.gif') right center no-repeat;
}

.ac_odd {
	background-color: #fff;
}

.ac_over {
	background-color: #dfe8f6;
	border: 1px dotted #a3bae9;
	color: #000;
}
.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../images/loading/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #bebebe;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
	color: #048fc2;
        cursor: pointer !important;
}
.qq-upload-button-hover {cursor: pointer !important;}
.qq-upload-button-focus {}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin: 0px; padding:0; list-style:none;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../images/loading.gif"); width:16px; height:16px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

.qq-upload-button-look {
    background: none repeat scroll 0 0 #880000;
    border-bottom: 1px solid #DDDDDD;
    color: #FFFFFF !important;
    display: block;
    padding: 7px 0;
    text-align: center;
    width: 105px!important;
}.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	z-index: 5000;
	cursor: pointer;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none
}

.formError .formErrorContent {
	width: 100%;
	background: #f8f8f8;
	position:relative;
	z-index:5001;
	color: #ee0101;
	width: 180px;
	font-family: tahoma;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
  position:relative;
  z-index: 5006;
}

.formError .formErrorArrowBottom {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
	margin: 0px 0 0 12px;
  top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #fff;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}


table.jCalendar {
    border: 1px solid #000;
    background: #f2f6ff;
    border-collapse: separate;
    border-spacing: 2px;
}
table.jCalendar th {
	background: #048FC2;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {
	background: #F2F6FF;
	color: #000;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #f2f6ff;
	color: #aaa;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #e8f1ff;
	color: #888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #e8f1ff;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #F2F6FF;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 1299;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #f2f6ff;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}

a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../images/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
}
table.ordergrid {
	float:none;
	padding: 2px;
	width: 100%;
}

#ordergrid-new-start-col {
    background: url("../images/ordergrid/add-front-row.gif") no-repeat transparent;
    float: left;
    height: 20px;
    padding-left: 25px
}
#ordergrid-new-end-col {
    background: url("../images/ordergrid/add-back-row.gif") no-repeat right top transparent;
    float: right;
    height: 20px;
    padding-right: 25px
}
table.ordergrid thead, table.ordergrid tbody {
	float:none;
}

table.ordergrid tr {
	display: table-row;
	float:none;
}

table.ordergrid thead tr td {
    background-color: #f2f6ff;
    border-bottom: 1px solid #b7c0c7;
    color: #5a5b61;
    float:none;
    font-weight: bold;
}
table.ordergrid tr td.bold {
    background-color: #f2f6ff;
	color: #5a5b61;
	float:none;
	font-weight: bold;
}
table.ordergrid thead tr td.selected {
    background-color: #d9ebf9;
    border-bottom: 1px solid #b7c0c7;
	color: #048fc2;
	float:none;
	font-weight: bold;
}
table.ordergrid tr td{
	border-bottom: 1px solid #dddddd;
	float:none;
	padding: 5px;
	vertical-align: middle;
}
table.ordergrid tr td.head{
    background-color: #f2f6ff;
    border-bottom: 1px solid #b7c0c7;
	color: #048fc2;
	vertical-align: middle;
}
table.ordergrid tr.selected{
    background-color: #f2f6ff;
	border-bottom: 1px solid #dddddd;
	float:none;
	padding: 5px;
	vertical-align: middle;
}
table.ordergrid tr.highlight{
    background-color: #ecffbb;
	border-bottom: 1px solid #dddddd;
	float:none;
	padding: 5px;
	vertical-align: middle;
}

text.order-grid-color-text {
    width: 120px;
}

table.ordergrid input, select{
    width: auto;
}
/* 
    Document   : intellocut.markertree.css
    Created on : 27 Sep, 2011, 4:15:12 PM
    Author     : Abhishek
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

table.markertree {
    float: none;
    width: 100%;
    height: 100%;
}

table.markertree thead, table.markertree tbody {
    float:none;
}

table.markertree thead tr, table.markertree tbody tr,table.markertree thead tr td, table.markertree tbody tr td {
    float:none;
    line-height: 14px;
    height: 100%;
}

table.markertree tbody tr td.total {
    background-color: #e4e4cd;
    font-weight: bold;
    float:none;
}

table.markertree tbody tr td.total-ply {
    background-color: #f3f3e9;
    font-weight: bold;
    float:none;
}

table.markertree thead tr td {
    background-color: #f2f6ff;
    border: 1px solid #b7c0c7;
    color: #5a5b61;
    float:none;
    font-weight: bold;
    padding: 5px;
}

table.markertree thead tr td.markertree-tree, table.markertree tbody tr td.markertree-tree {
    background-color: transparent;
    border: none;
    color: #5a5b61;
    float:none;
    font-weight: bold;
    padding: 0px;
}

table.markertree thead tr td.markertree-tree-start, table.markertree tbody tr td.markertree-tree-start {
    background-position:left center;
    background-color: transparent;
    border: none;
    color: #5a5b61;
    float:none;
    font-weight: bold;
    padding: 0px;
    width: 18px;
}

table.markertree thead tr td.markertree-tree-start, table.markertree tbody tr td.markertree-last {
    background-color: transparent;
    border: none;
    color: #5a5b61;
    float:none;
    font-weight: bold;
    padding: 0px;
    width: 18px;
}

table.markertree div.open {
    background: url("../images/icons.png") no-repeat scroll -135px -265px transparent;
    cursor: pointer;
    border: none;
    float:none;
    padding: 0px;
    width: 16px;
    height: 16px;
}

table.markertree div.close {
    background: url("../images/icons.png") no-repeat scroll -89px -265px transparent;
    cursor: pointer;
    border: none;
    float:none;
    padding: 0px;
    width: 18px;
    height: 20px;
}

table.markertree div.open_all {
    background: url("../images/icons.png") no-repeat scroll -158px -260px transparent;
    cursor: pointer;
    border: none;
    float:none;
    padding: 0px;
    width: 16px;
    height: 16px;
}

table.markertree div.close_all {
    background: url("../images/icons.png") no-repeat scroll -111px -260px transparent;
    cursor: pointer;
    border: none;
    float:none;
    padding: 0px;
    width: 18px;
    height: 20px;
}

table.markertree div.last_open {
    background-image: url("../../images/markertree/plus3.gif");
    background-color: transparent;
    cursor: pointer;
    border: none;
    float:none;
    padding: 0px;
    width: 18px;
    height: 18px;
}

table.markertree div.last_close {
    background-image: url("../../images/markertree/minus3.gif");
    background-color: transparent;
    cursor: pointer;
    border: none;
    float:none;
    padding: 0px;
    width: 18px;
    height: 18px;
}

table.markertree tbody tr td.markertree-tree-inner {
    background-image:none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    float:none;
    padding: 0px;
    width: 16px;
    height: 16px;
}

table.markertree tbody tr td.markertree-tree-close {
}

table.markertree tbody tr td {
    border-bottom: 1px solid #b7c0c7;
    border-left: 1px solid #b7c0c7;
    border-right: 1px solid #b7c0c7;
    color: #5a5b61;
    float:none;
    padding: 3px;
    vertical-align: middle;
}

table.markertree tbody tr td.quantity {
    background-color: #ffffa4;
}

table.markertree tbody tr td.action, table.markertree thead tr td.action {
    background-color: #fff;
    border: 0px;
    float:none;
    padding: 0px;
}
table.markertree tbody tr td.actual {
    background-color: #B1FF92;
}/*****************/
/** jNotify CSS **/
/*****************/
#jNotify {
	position:absolute;
	background:#d8e6fc  url('../images/info.png') no-repeat 15px center;
	color:#35517c;
	border:1px solid #a7c3f0;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jNotify a {color:#35517c !important;text-decoration:none;}

/******************/
/** jSuccess CSS **/
/******************/
#jSuccess {
	position:absolute;
	background:#E6EFC2  url('../images/success.png') no-repeat 15px center;
	color:#264409;
	border:1px solid #C6D880;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jSuccess a {color:#264409 !important;text-decoration:none;}



/****************/
/** jError CSS **/
/****************/
#jError {
	position:absolute;
	background:#FBE3E4  url('../images/error.png') no-repeat 15px center;
	color:#8a1f11;
	border:1px solid #FBC2C4;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jError a {color:#8a1f11 !important;text-decoration:none;}

/******************/
/** jWarning CSS **/
/******************/
#jWarning {
	position:absolute;
	background:#FFFF99  url('../images/info.png') no-repeat 15px center;
	color:#264409;
	border:1px solid #C6D880;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jWarning a {color:#264409 !important;text-decoration:none;}

/** OVERLAY **/
#jOverlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9998
}/* global */
div.ui-cluetip {
  font-size: 1em;
}
.ui-cluetip-header,
.ui-cluetip-content {
  padding: 12px;
}
.ui-cluetip-header {
  font-size: 1em;
  margin: 0;
  overflow: hidden;
}

.cluetip-title .cluetip-close {
  float: right;
  position: relative;
}
.cluetip-close img {
  border: 0;
}

#cluetip-waitimage {
  width: 43px;
  height: 11px;
  position: absolute;
  background-image: url(images/wait.gif);
}
.cluetip-arrows {
  display: none;
  position: absolute;
  top: 0;
  left: -11px;
  width: 11px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-width: 0;
}
.cluetip-extra {
  display: none;
}

/***************************************
   =cluetipClass: 'default'
-------------------------------------- */

.cluetip-default,
.cluetip-default .cluetip-outer {
  background-color: #d9d9c2;
}
.cluetip-default .ui-cluetip-header {
  background-color: #87876a;
}


/*
.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  background-color: #d9d9c2;
}
.cluetip-default h3#cluetip-title {
  margin: 0 0 5px;
  padding: 8px 10px 4px;
  font-size: 1.1em;
  font-weight: normal;
  background-color: #87876a;
  color: #fff;
}
.cluetip-default #cluetip-title a {
  color: #d9d9c2;
  font-size: 0.95em;
}
.cluetip-default #cluetip-inner {
  padding: 10px;
}
.cluetip-default div#cluetip-close {
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}
*/
/* default arrows */
div.cluetip-default .cluetip-arrows {
  border-width: 0;
  background: transparent none;
}
div.clue-right-default .cluetip-arrows {
  background-image: url(images/darrowleft.gif);
}
div.clue-left-default .cluetip-arrows {
  background-image: url(images/darrowright.gif);
  left: 100%;
  margin-right: -11px;
}
div.clue-top-default .cluetip-arrows {
  background-image: url(images/darrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  width: 22px;
  height: 11px;
}
div.clue-bottom-default .cluetip-arrows {
  background-image: url(images/darrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  width: 22px;
  height: 11px;
}

/***************************************
   =cluetipClass: 'jtip'
-------------------------------------- */
.cluetip-jtip {
  background-color: #fff;
}
.cluetip-jtip .cluetip-outer {
  border: 2px solid #ccc;
  position: relative;
  /*background-color: #fff;*/
}

.cluetip-jtip .cluetip-inner {
  padding: 5px;
  display: inline-block;
}
.cluetip-jtip div.cluetip-close {
  text-align: right;
  margin: 0 5px 0;
  color: #900;
}

.cluetip-jtip .ui-cluetip-header {
  background-color: #ccc;
  padding: 6px;
/*  margin-bottom: 1em;*/
}

/* jtip arrows */
div.cluetip-jtip .cluetip-arrows {
  border-width: 0;
  background: transparent none;
}
div.clue-right-jtip .cluetip-arrows {
  background-image: url(images/arrowleft.gif);
}
div.clue-left-jtip .cluetip-arrows {
  background-image: url(images/arrowright.gif);
  left: 100%;
  margin-right: -11px;
}
div.clue-top-jtip .cluetip-arrows {
  background-image: url(images/arrowdown.gif);
  top: 100%;
  left: 50%;
  width: 22px;
  height: 11px;
  margin-left: -11px;
}
div.clue-bottom-jtip .cluetip-arrows {
  background-image: url(images/arrowup.gif);
  top: -11px;
  left: 50%;
  width: 22px;
  height: 11px;
  margin-left: -11px;
}

/***************************************
   =cluetipClass: 'rounded'
-------------------------------------- */
.cluetip-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.cluetip-rounded .cluetip-outer {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
}

.cluetip-rounded  .cluetip-arrows {
  border-color: #ccc;
}

/* need to be more specific here to override ThemeRoller defaults */
div.cluetip-rounded  .cluetip-arrows {
  font-size: 0;
  line-height: 0%;
  width: 0;
  height: 0;
  border-style: solid;
  background: transparent none;
}
div.clue-right-rounded .cluetip-arrows {
  border-width: 11px 11px 11px 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
div.clue-left-rounded .cluetip-arrows {
  left: 100%;
  margin-right: -11px;
  border-width: 11px 0 11px 11px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;

}
div.clue-top-rounded .cluetip-arrows {
  top: 100%;
  left: 50%;
  border-width: 11px 11px 0 11px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.clue-bottom-rounded .cluetip-arrows {
  top: -11px;
  left: 50%;
  border-width: 0 11px 11px 11px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;

}
/* stupid IE6 HasLayout hack */
.cluetip-rounded .cluetip-title,
.cluetip-rounded .cluetip-inner {
  zoom: 1;
}
/* 
 * dragtable
 *
 * @Version 2.0.14
 *
 * default css
 *
 */
/*##### the dragtable stuff #####*/
.dragtable-sortable { 
    list-style-type: none; margin: 0; padding: 0; -moz-user-select: none;
}
.dragtable-sortable li {
    margin: 0; padding: 0; float: left; font-size: 1em; background: white; 
}

.dragtable-sortable th, .dragtable-sortable td{
    border-left: 0px;
}

.dragtable-sortable li:first-child th, .dragtable-sortable li:first-child td {
    border-left: 1px solid #CCC; 
}

.ui-sortable-helper {
    opacity: 0.7;filter: alpha(opacity=70);
}
.ui-sortable-placeholder { 
    -moz-box-shadow: 4px 5px 4px #C6C6C6 inset;
    -webkit-box-shadow: 4px 5px 4px #C6C6C6 inset;
    box-shadow: 4px 5px 4px #C6C6C6 inset;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    visibility: visible !important;
    background: #EFEFEF !important; 
    visibility: visible !important;
}
.ui-sortable-placeholder * { 
    opacity: 0.0; visibility: hidden; 
}
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #fff;
    padding: 5px;
    opacity: 0.85;
    display: block;
}
#tooltip h3, #tooltip div { 
    background-color: #fff;
    margin: 5px; 
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
