table.ordergrid {
	float:none;
	padding: 2px;
	width: 100%;
}

#ordergrid-new-start-col {
    background: url("../images/ordergrid/add-front-row.gif") no-repeat transparent;
    float: left;
    height: 20px;
    padding-left: 25px
}
#ordergrid-new-end-col {
    background: url("../images/ordergrid/add-back-row.gif") no-repeat right top transparent;
    float: right;
    height: 20px;
    padding-right: 25px
}
table.ordergrid thead, table.ordergrid tbody {
	float:none;
}

table.ordergrid tr {
	display: table-row;
	float:none;
}

table.ordergrid thead tr td {
    background-color: #f2f6ff;
    border-bottom: 1px solid #b7c0c7;
    color: #5a5b61;
    float:none;
    font-weight: bold;
}
table.ordergrid tr td.bold {
    background-color: #f2f6ff;
	color: #5a5b61;
	float:none;
	font-weight: bold;
}
table.ordergrid thead tr td.selected {
    background-color: #d9ebf9;
    border-bottom: 1px solid #b7c0c7;
	color: #048fc2;
	float:none;
	font-weight: bold;
}
table.ordergrid tr td{
	border-bottom: 1px solid #dddddd;
	float:none;
	padding: 5px;
	vertical-align: middle;
}
table.ordergrid tr td.head{
    background-color: #f2f6ff;
    border-bottom: 1px solid #b7c0c7;
	color: #048fc2;
	vertical-align: middle;
}
table.ordergrid tr.selected{
    background-color: #f2f6ff;
	border-bottom: 1px solid #dddddd;
	float:none;
	padding: 5px;
	vertical-align: middle;
}
table.ordergrid tr.highlight{
    background-color: #ecffbb;
	border-bottom: 1px solid #dddddd;
	float:none;
	padding: 5px;
	vertical-align: middle;
}

text.order-grid-color-text {
    width: 120px;
}

table.ordergrid input, select{
    width: auto;
}
